/* RESPONSIVE */

$menu-width:250px!default;

@media only screen and (max-width: 640px) {
    
    //on force la hauteur à 100% de tous les elements avant le site-content
    .site-container, .site-pusher {
        height: 100%;
    }
    
    .site-container {overflow: hidden;}
    
    //par défaut le site est à 0px et la transition donne l'effet de revenir en slide pdt 0.3s
    .site-pusher {
        transition-duration: 0.5s;
        transform: translateX(0px);
        
        }
        //height: 100%;
    
    
    //le contenu du site(sous le header)
    .site-content {
        position: absolute;
        top: 66px;
        right: 0;
        bottom: 0;
        left: 0;
        padding-top: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    
    .header {
        position: static;
    }
    
    .header__icon {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 50px;
   
        cursor: pointer;
        
        &:after {
            position: absolute;
            content: '';
            //display: block;
            width: 1rem;
            height: 0;
            top:26px;
            left: 10px;
            
            //menu burger
            box-shadow: 0 0px 0 1px #FFF, 0px 6px 0px 1px #FFF, 0px 12px 0px 1px #FFF;
            
        }
    }
    
    .menu {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: darken($header-bg, 5);
        
        width: $menu-width;
        //permet de cacher le menu au départ (-250px)
        transform: translateX($menu-width * -1);
       
        //display: none;
        
        
        li {
            //permet d'aligner verticalement le menu
            display: block;
            height: 80px;
            //background-color: #FF0000;
            text-align: center;
            border-bottom: 1px solid $header-bg;
        }
   
    }
    
    .header {
        background-color: $header-bg;
    }
    
    //Classe ajoutée au body lorsque l'on clic sur le burger --> dans ce cas on decale le site-pusher de la largeur du menu avec une translation
    
    .with--sidebar {
        .site-pusher {
        transform: translateX($menu-width);
        transition-duration: 0.5s;
        }
        
        .site-cache {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,0.6);
        }
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}