/* --------------------------------------------------------------------------------------- 
Intégration Police icoMoon
--------------------------------------------------------------------------------------- */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-wcdog9');
	src:url('../fonts/icomoon.eot?#iefix-wcdog9') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-wcdog9') format('woff'),
		url('../fonts/icomoon.ttf?-wcdog9') format('truetype'),
		url('../fonts/icomoon.svg?-wcdog9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e602";
}
.icon-vimeo:before {
	content: "\e603";
}
.icon-flickr:before {
	content: "\e604";
}
.icon-github:before {
	content: "\e605";
}




/* --------------------------------------------------------------------------------------- 
Generalités
--------------------------------------------------------------------------------------- */
html {
	
	color: #3e3d40;
	font-family: 'Ubuntu', sans-serif;
	font-size: 17px;
	}

html, body {
	height: 100%;	
	width: 100%;
	}


body {
	font-size: 17px;
	padding-top: 100px;
}


a:link {
	color: #ea504e;
	text-decoration: none;
	-webkit-transition: all 0.25s ease-in-out;
  	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;	
	transition: all 0.25s ease-in-out;		
	}

a:visited {
	color: #ea504e;
	text-decoration: none;
	}

a:hover {
	color: #e4032e;
	-webkit-transition: all 0.25s ease-in-out;
  	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;	
	transition: all 0.25s ease-in-out;		
	}

/* --------------------------------------------------------------------------------------- 
Suppresion des pointillés sur le focus des liens 
--------------------------------------------------------------------------------------- */
a:focus {
    outline: none;
	}

/* --------------------------------------------------------------------------------------- 
Basics
--------------------------------------------------------------------------------------- */
.wrapper {
	margin: 0 auto;
	max-width: 1600px;
	width: 94%%;
   
    
    overflow:hidden;
    clear:both;
	}
	
.main{
     background: #e9e9e9;
}
	
.left {
	float: left;
	}



/* --------------------------------------------------------------------------------------- 
Titres
--------------------------------------------------------------------------------------- */
h1 {
	color: #ea504e;
	font-size: 70px;
	font-weight: 700;
	line-height: 90px;
	margin: 70px 0 0 0;	
	text-transform: uppercase;
	width: 100%;	
	}
	

	
h2 {
	color: #3e3d40;
	float: left;
	font-size: 52px;
	font-weight: 500;
	line-height: 70px;
	margin: 25px 0 0 0;	
	width: 80%;	
	}	
	
h2 strong {
	color: #3e3d40;
	float: left;
	font-size: 40px;
	font-weight: 300;
	line-height: 64px;
	margin: 0 0 30px 0;	
	width: 100%;	
	}	
	


h3 {
	float: left;
	font-size: 17px;
	font-weight: 400;
	line-height: 32px;
	margin: 10px 0 10px 0; 
	width: 100%;
	color: #6f6e70;
	}
	


h4 {
	color: #3e3d40;
	font-size: 70px;
	font-weight: 700;
	line-height: 90px;
	margin: 70px 0 0 0;	
	text-align: center;
	text-transform: uppercase;
	width: 100%;		
	}

h4:before {
	border-top: 1px solid #d8d8d9;
	content: " ";
	display: block;
	height: 2px;
	margin: 0 auto;
	text-align: center;
	width: 100px;		
	}

h5 {
	color: #3e3d40;
	font-size: 22px;
	font-style: italic;
	font-weight: 300;
	line-height: 36px;
	margin: 4px auto 0 auto;
	max-width: 900px;	
	text-align: center;
	width: 100%;		
	}
	


/* --------------------------------------------------------------------------------------- 
Animation
--------------------------------------------------------------------------------------- */
.transition-0-25-ease { 
	-webkit-transition: all 0.25s ease-in-out;
  	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;	
	transition: all 0.25s ease-in-out;	
	}	
	
.transition-0-5-ease { 
	-webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;	
	transition: all 0.5s ease-in-out;	
	}	
	
/* --------------------------------------------------------------------------------------- 
Paragraph
--------------------------------------------------------------------------------------- */
p {
	line-height: 30px;
	margin: 20px 0 0 0;
	}	
		
		

/* --------------------------------------------------------------------------------------- 
Backgrounds
--------------------------------------------------------------------------------------- */	
.bg_dark, .bg_red{
	overflow: hidden;	
	padding: 30px 0 100px 0;
	width: 100%;
	}

.bg_dark {
	background: #151516;
	color: #fff;
	}	
	
.bg_white {
	background: #fff;
	}	
	
.bg_red {
	background: #ea504e;
	}
	
.bg_blue {
	background: #3292d0;
	}	
	
.bg_dark h4, .bg_dark h5, .bg_red h4, .bg_red h5, .bg_blue h4, .bg_blue h5 {
	color: #fff;
	}	
	
.bg_dark h4:before {
	border-top: 1px solid #444445;		
	}
	
.bg_red h4:before {
	border-top: 1px solid #f29695;		
	}	
	
.bg_blue h4:before {
	border-top: 1px solid #70b3de;		
	}				
	


/* --------------------------------------------------------------------------------------- 
Header
--------------------------------------------------------------------------------------- */
header {
	background: #fff;
	height: 100px;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	}
	

	
/* --------------------------------------------------------------------------------------- 
Logo
--------------------------------------------------------------------------------------- */	
header h1 {
	float: left;
	margin-right: 100px;
	margin-top:21px;
    width:70px;
	}
	


/* --------------------------------------------------------------------------------------- 
Navigation
--------------------------------------------------------------------------------------- */	
nav {
	float: left;
margin-top: 46px;
	}
	
nav ul {
	font-size: 18px;
	font-weight: 600;
	list-style: none;
	text-transform: uppercase;
	}	
	
nav ul li {
	float: left;
	list-style: none;
	margin-right: 45px;
	}	
	
nav ul li a {
	color: #58585a;
	}		
	
nav ul li a:hover, nav ul li a.active {
	color: #ea504e ;
	}	
	
	

/* --------------------------------------------------------------------------------------- 
Header contact
--------------------------------------------------------------------------------------- */	
.header-contact	{
	float: right;
	position: relative;
	top: 43px;
	}
	
.header-contact	.header-mail a {
	color: #58585a;
	font-size: 14px;
	font-style: italic;
	font-weight: 300;
	margin-right: 40px;
	}
	
.header-contact	.header-mail a:hover {
	color: #ea504e;
	}	
	
.header-contact	.header-number a {
	color: #ea504e;
	font-size: 22px;
	font-weight: 700;
	}
	

		


/* --------------------------------------------------------------------------------------- 
Image Intro
--------------------------------------------------------------------------------------- */	
.intro-text {
	float: left;
	width: 60%;
	}
	
.intro-image {
	background: url(../images/dessin.jpg) no-repeat 100% 0;
	float: right;
	min-height: 200px;
	height: 100%;
	width: 100%;
	}

.intro-image {
background-size: 50%;
background-position: 100% 50%;
}

.intro-text p{
    clear:both;
}


/* --------------------------------------------------------------------------------------- 
Social Channels
--------------------------------------------------------------------------------------- */		
.social-channels {
	float: left;
	list-style: none;
	margin: 40px 0 40px 0;
	width: 100%;
	}
	
.social-channels li {
	background: #3e3d40;
	border-radius: 23px;
	float: left;
	height: 46px;
	margin-right: 10px;
	width: 46px;
    text-align:center;
	}
	
.social-channels li:hover {
	background: #ea504e;
	}			
	
.social-channels li a {
	display: block;
	height: 46px;
	width: 46px;
    line-height:46px;
    color:white;
	}

.social-channels li:nth-child(1) img, .social-channels li:nth-child(3) img, .social-channels li:nth-child(4) img, .social-channels li:nth-child(5) img {
	left: 13px;
	position: relative;
	top: 12px;
	}
	
.social-channels li:nth-child(2) img {
	left: 11px;
	position: relative;
	top: 12px;
	}



/* --------------------------------------------------------------------------------------- 
Work
--------------------------------------------------------------------------------------- */	
.work {
	list-style: none;
	margin-top: 70px;
	}
	
.work li {
	float: left;
	margin-right: 1.25%;
	margin-bottom: 17px;
	width: 24.0625%;
	overflow: hidden;
	}	
	
.work li img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.08);
	transform: scale(1.08);	
	}		
	
.work li:hover img {
	opacity: 0.3;
	-webkit-transform: scale(1);
	transform: scale(1);
	}	
	
.work li .work-discription {
	background: #fff;
	color: #89898a;
	font-size: 16px;
	line-height: 26px;
	min-height: 185px;
	padding: 35px;
	position: relative;
	top: -3px;
	}	
	
.work li .work-discription strong {
	color: #3e3d40;
	display: block;
	font-size: 24px;
	margin-bottom: 18px;
	width: 100%;
	}		
	
.work li:nth-child(4n) {
	margin-right: 0;
	}		

/* --------------------------------------------------------------------------------------- 
Contact
--------------------------------------------------------------------------------------- */	
a.contact-icon {
	background: url(../images/icon_contact.svg) center center no-repeat;
	display: block;
	height: 517px;
	margin: 0 auto;
	padding-bottom: 107px;
	position: relative;
	top: 44px;
	width: 484px;
	}
	



/* --------------------------------------------------------------------------------------- 
Footer
--------------------------------------------------------------------------------------- */	
footer {
	background: #3e3d40;
	overflow: hidden;	
	padding: 96px 0 100px 0;
	width: 100%;	
	}
	
footer .wrapper {
	max-width: 500px;
	}
	
footer ul.footer-nav {
	display: block;
	font-size: 16px;
	list-style: none;
	margin: 0 auto;
	overflow: hidden;
	width: 334px;
	}	
	
footer ul.footer-nav li {
	float: left;
	margin: 0 10px;
	}
	
footer ul.footer-nav li:last-child {
	margin-right: 0;
	}			
	
footer ul.footer-nav li a {
	color: #fff;
	}		
	
footer ul.footer-nav li a:hover, footer ul.footer-nav li a.active {
	color: #ea504e;
	}
	
footer .social-channels {
	left: 50%;
	margin: 60px 0 0 -165px;
	position: relative;
	width: 330px;
	}
	
footer .social-channels li {
	background: #78787a;
	margin: 0 10px;
	}	
