/*************************************/
/************** GENERAL **************/
/*************************************/
html {
    font-size:100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;/* =12px */
    line-height: 1.6;
}

*  {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
h1, h2, h3 {
    font-weight: 700;
}
/*************************************/
/********** TYPOS / ICONES ***********/
/*************************************/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-wcdog9');
	src:url('../fonts/icomoon.eot?#iefix-wcdog9') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-wcdog9') format('woff'),
		url('../fonts/icomoon.ttf?-wcdog9') format('truetype'),
		url('../fonts/icomoon.svg?-wcdog9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e602";
}
.icon-vimeo:before {
	content: "\e603";
}
.icon-flickr:before {
	content: "\e604";
}
.icon-github:before {
	content: "\e605";
}


/******************************************/
/*****************  MAIN   ****************/
/******************************************/
.main {
    background-color: white;
    text-align: center;
}

/*
.wrap h1 a:nth-child(2) img  {
        height: 5vw;      
}
#wrapper {
    padding: 5vw;
}*/
/******************************************/
/****************  HEADER   ***************/
/******************************************/
header img#logo {
    width: 20vw;
}
header {
    height: auto;
    position: static;
    background-color: white;
}
header h1 {
        padding: 5% 0 2%;      
}
header nav {
    margin-top: 0;
}
header nav ul li { 
    background-color: black;
    list-style: none;
    border-top: 1px solid white;
    padding: 2% 0;
}
header nav ul li:hover
{
    background-color: #cc0000;
    color: #FFF;
}
header nav ul li:nth-of-type(even){
    display: none;
}
header section {
    padding: 5vw;
}
header nav ul li a
{
    font-weight: 100;  
}


/* Barre de recherche */

header form {
    display: none;
}
header h1 a:nth-child(1){
    
}
header h1 a:nth-child(2){
    float: right;
    margin-left: -20%;
}
header h1 a:nth-child(2) img{
    height: 8vw;
    padding-right: 5vw;
    cursor: pointer;
}

/******************************************/
/*********  SECTION FORMULAIRE    *********/
/******************************************/
#formulaire_contact h3 {
    background: rgba(0, 0, 0, 0) url("../img/bandeTitre.jpg") repeat-x scroll center center;
    font-size: 5vw;
    margin: 2vw;
}
#formulaire_contact span {
    background: white none repeat scroll 0 0;
    padding: 0 2vw;
}
#formulaire_contact {
    margin: 0 auto;
    padding-top: 5vw;
    text-align: center;
    width: 100%;
}
#formulaire_contact form {
    background: #cc0000 none repeat scroll 0 0;
    border-bottom: 5px solid #b8471a;
    padding: 20px;
    position: relative;
    text-align: left;
}
#formulaire_contact form fieldset {
    text-align: left;
}
#formulaire_contact form fieldset label {
    color: white;
    font-size: 5vw;
    padding-bottom: 1vw;
}
#formulaire_contact form fieldset input {
    margin-bottom: 5vw;
}
#formulaire_contact form fieldset input, #formulaire_contact form fieldset textarea {
    border: medium none;
    color: #303030;
    font-size: 5vw;
    padding: 2vw;
    width: 100%;
}
#formulaire_contact form fieldset textarea {
    height: 30vw;
    resize: none;
}
/* bouton envoyer */
#formulaire_contact form input[type=submit] {
    cursor: pointer;
    width: 22vw;
    font-size: 5vw;
    text-align: right;
    margin-top: 2vw;
    /* calc me permet de caler pile à droite mon bouton en enlevant
    la largeur de mon bouton de 22vw */
    margin-left: calc(100% - 22vw);
}
#coordonnees_contact h3 span {
    background: white none repeat scroll 0 0;
    padding: 0 2vw;
}
#coordonnees_contact h3 {
    background: rgba(0, 0, 0, 0) url("../img/bandeTitre.jpg") repeat-x scroll center center;
    text-align: center;
    font-weight: normal;
    font-size: 5vw;
    margin: 5vw 5vw;
}
#coordonnees_contact ul li section {
    margin-bottom: 30px;
}
#coordonnees_contact ul li section p {
    font-size: 4.7vw;
    line-height: 6vw;
}
#coordonnees_contact ul li section p:nth-child(1) {
    color: #cc0000;
}


/******************************************/
/***********  SECTION FOOTER    ***********/
/******************************************/
footer {
    background-color: black;
    padding: 3%;
    clear: both;
}
footer .social-channels {
    /*left: 50%;*/
    
    /*width: 330px;*/
}
footer .social-channels li {
    background: #cc0000 none repeat scroll 0 0;
    margin: 0 3.5px;
    display: inline-block;
    border-radius: 23px;
}
.social-channels li a {
    color: white;
    display: block;
    height: 46px;
    line-height: 46px;
    width: 46px;
}
footer .contact {
    padding-top: 10px;
}
footer .contact li:first-letter {
    font-weight: lighter;
     text-transform: capitalize;
}
footer .contact li {
    line-height: 25px;
}
footer .contact li a {
    color: white;
    font-weight: 100;
    font-size: 4vw;
    text-transform: capitalize;
}
/* SCROLL UP */
#scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 5vw;
    transform: rotate(-90deg);
    background: url(../img/flecheScroll.png) no-repeat;
    background-size: contain;
    color: #fff;
}


/*#########################################*/
/*#########################################*/
/*############  MEDIAQUERIES  #############*/
/*#########################################*/
/*#########################################*/

/******************************************/
/**********  VERSION TABLETTE   ***********/
/******************************************/

@media only screen and (min-width: 640px) {
    body {
        
    }

/*************************************/
/************  HEADER   **************/
/*************************************/
/* barre de navigation */
header nav {
    background-color: black;
}
header nav ul li:nth-of-type(even){
    display: inline-block;
    color: #fff;
    width: 1%;
}
header nav ul li {
    border-top: none;
    display: inline-block;
    width: 17%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    vertical-align: center;
}
header nav ul li a:hover span
{
  border-bottom: 2px solid #cc0000;  
}
header nav ul li:hover
{
    background-color: transparent;
    color: #FFF;
} 
header a:link {
    font-weight: normal;
    text-transform: lowercase;
}

header #sliderControls {
    top: 150px;
}
header section {
    margin: auto;
    padding: 4vw;
    width: 66%;
}
header h1 {
    width: 100%;
}
header {
    background-color: white;
}
header img#logo {
    width: 15vw;
    text-align: center;
}
header ul span {
    display: inline;
    color: white;
}

/* barre recherche */
header form {
display: none;
}
header h1 a:nth-child(2){
    float: right;
    margin-left: -20%;
}
header h1 a:nth-child(2) img{
    height: 35px;
}
    
/******************************************/
/**************  FORMULAIRE  **************/
/******************************************/

#formulaire_contact {
    padding-top: 50px;
}

#formulaire_contact h3 {
    font-size: 1.5em;
   margin-bottom: 40px;
}
    
#formulaire_contact form {
    margin: 0 20px;
}
#formulaire_contact form fieldset {
    display: inline-block;
    width: calc((100% - 25px)/2);
    vertical-align: top
}
    
#formulaire_contact form fieldset:first-of-type {
    margin-right: 15px;
}

#formulaire_contact form fieldset label {
    padding-bottom: 5px;
    font-size: 1.5em;
}

#formulaire_contact form fieldset input {
    margin-bottom: 20px;
}

#formulaire_contact form fieldset input,
#formulaire_contact form fieldset textarea {
    padding: 10px;
    font-size: 1.5em;
}

#formulaire_contact form fieldset textarea {
    height: 320px;
}

#formulaire_contact form input[type=submit] {
    width:130px;
    font-size: 1.3em;
    margin-left: calc(100% - 135px);
    text-align: center;
    
}
#coordonnees_contact ul li section {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: calc(50% - 40px);
    border:1px solid black;
}
#coordonnees_contact ul li section p {
    font-size: 1.5em;
    line-height: 35px;
} 
#coordonnees_contact h3 {  
    font-size: 1.7em; 
    margin: 3%;
}
/*************************************/
/************   FOOTER   *************/
/*************************************/
footer {
    clear:both; 
}
footer .contact li a {
    font-size: 2.5vw;
}
footer .social-channels li {
    margin: 0 2vw;
}
/* SCROLL UP */
#scrollUp {
    padding: 30px;
}    
    
    
}



   
/******************************************/
/**********  VERSION DESKTOP   ************/
/******************************************/


@media only screen and (min-width: 960px) {
    body{
        
    }

/***********************************/
/******  barre de recherche   ******/
/***********************************/ 

/* on cache l'icone loupe des version mobiles */
header h1 a:nth-child(2){
    display: none;
}

/* on affiche la version desktop */
header form {
    display: inline-block;
}
#searchthis {
    position: absolute;
    right: 5%;
    top: 8%;
}    
#searchthis input {
    display: inline-block;
    outline:0;
    border:0;
    margin:0;
    vertical-align: top;
}
#searchthis input:nth-child(2) {
    height: 25px;
    width: 25px;
}
/* Champ de saisie */
#searchthis #search {
  background-color: #cccccc;   /* Couleur de fond */
  border-style: solid;   /* Style de la bordure  */
  border-color: #dddddd;   /* Couleur de la bordure  */
  padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
  font-family: Arial;   /* Police du texte */
  font-size: 12px;   /* Taille de la police du texte */
  font-weight: normal;   /* Graisse du texte */
  letter-spacing: 1px;   /* Espacement des caractères */
}
#search-btn{
    background: rgba(0,0,0,0);
    background:url(../img/loupe.png) no-repeat 0 0;
    background-size: 100%;
    padding-bottom: 2%;
    
}  
/* fin de la barre de recherche */
    

header img#logo {
    width: 15%;
    text-align: center;
}   

   
/******************************************/
/***************  ARTICLE   ***************/
/******************************************/
section img {
    float: none;
}
section article {
    border-bottom: 8px solid #fff;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 32%;
}
section article p {
    text-indent:none;
    padding: 0 3%;
    font-size: 0.8em;
}
section.article-designer article:nth-child(4) p:last-child {
    margin-top: 10%;
    background-color: #f0f1f0;
}
section article img {
    width: 100%;
    padding: 0
}
section.article-designer {
    margin-bottom: 4%;
}

/*************************************/
/*********    FORMULAIRE    **********/
/*************************************/
#wrapper {
    padding: 0 5vw;
}

#coordonnees_contact ul li section {
    display: inline-block;
    text-align: left;
    vertical-align: top; 
    width: calc(33% - 30px);
    border:1px solid black;
}

/*************************************/
/************   FOOTER   *************/
/*************************************/    
footer .contact li a {
    font-size: 1em;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}