/*****************/
/***** TYPOS *****/
/*****************/


/*************************************/
/************** GENERAL **************/
/*************************************/

/*html {font-size: 62.5%;}*/
body {
margin: 0;
padding: 0;
background-color: #fff;
font-family:Arial;
font-size: 1.2rem;
/*font-size: 1.2rem;*/
line-height: 1.6;
}

*{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}
a:link {
	color: white;
	text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
	-webkit-transition: all 0.25s ease-in-out;
  	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;	
	transition: all 0.25s ease-in-out;		
	}

a:visited {
	color: white;
	text-decoration: none;
	}

h1, h2, h3 {
    font-weight: 700;
}
/*************************************/
/********** TYPOS / ICONES ***********/
/*************************************/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-wcdog9');
	src:url('../fonts/icomoon.eot?#iefix-wcdog9') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-wcdog9') format('woff'),
		url('../fonts/icomoon.ttf?-wcdog9') format('truetype'),
		url('../fonts/icomoon.svg?-wcdog9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e602";
}
.icon-vimeo:before {
	content: "\e603";
}
.icon-flickr:before {
	content: "\e604";
}
.icon-github:before {
	content: "\e605";
}


/******************************************/
/*****************  MAIN   ****************/
/******************************************/
.main {
    background-color: white;
    text-align: center;
}

/*
.wrap h1 a:nth-child(2) img  {
        height: 5vw;      
}
#wrapper {
    padding: 5vw;
}*/
/******************************************/
/****************  HEADER   ***************/
/******************************************/
header img#logo {
    width: 20vw;
}
header {
    height: auto;
    position: static;
    background-color: white;
}
header h1 {
        padding: 5% 0 2%;      
}
header nav {
    margin-top: 0;
}
header nav ul li { 
    background-color: black;
    list-style: none;
    border-top: 1px solid white;
    padding: 2% 0;
}
header nav ul li:hover
{
    background-color: #cc0000;
    color: #FFF;
}
header section {
    padding: 5vw;
}
header nav ul li a
{
    font-weight: 100;  
}
header ul span {
    display: none;
}

/* Barre de recherche */

header form {
    display: none;
}
header h1 a:nth-child(1){
    
}
header h1 a:nth-child(2){
    float: right;
    margin-left: -20%;
}
header h1 a:nth-child(2) img{
    height: 8vw;
    padding-right: 5vw;
    cursor: pointer;
}



/******************************************/
/***********  SECTION GALERIE   ***********/
/******************************************/
#wrapper {
    margin-top: 5%;
    padding: 5vw;
}


/******************************************/
/***********  SECTION FOOTER    ***********/
/******************************************/
footer {
    background-color: black;
    padding: 3%;
    clear: both;
}
footer .social-channels {
    /*left: 50%;*/
    
    /*width: 330px;*/
}
footer .social-channels li {
    background: #cc0000 none repeat scroll 0 0;
    margin: 0 3.5px;
    display: inline-block;
    border-radius: 23px;
}
.social-channels li a {
    color: white;
    display: block;
    height: 46px;
    line-height: 46px;
    width: 46px;
}
footer .contact {
    padding-top: 10px;
}
footer .contact li:first-letter {
    font-weight: lighter;
     text-transform: capitalize;
}
footer .contact li {
    line-height: 25px;
}
footer .contact li a {
    color: white;
    font-weight: 100;
    font-size: 4vw;
    text-transform: capitalize;
}

/******************************************/
/**********  VERSION TABLETTE   ***********/
/******************************************/

@media only screen and (min-width: 640px) {
    body {
        background-color: green;
    }
  .li {
    width: 33.3333333%;
  }
    header {
        background-color: #ccc;
    }
    h1 {
        width: 50%;
    }
/*************************************/
/************  HEADER   **************/
/*************************************/
header nav {
    background-color: black;
}
header nav ul {
    
}
header nav ul li {
    border-top: none;
    display: inline-block;
    width: 16vw;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    vertical-align: center;
}
header nav ul span:nth-of-type(1){
    padding-right: 3%;
}
header nav ul span:nth-of-type(2){
    padding: 0% 2%;
}
header a:link {
    font-weight: normal;
    text-transform: lowercase;
}

header #sliderControls {
    top: 150px;
}
header section {
    margin: auto;
    padding: 4vw;
    width: 66%;
}
header h1 {
    width: 100%;
}
header {
    background-color: white;
}
header img#logo {
    width: 15vw;
    text-align: center;
}
header ul span {
    display: inline;
    color: white;
}

/* barre recherche */
header form {
display: none;
}
header h1 a:nth-child(2){
    float: right;
    margin-left: -20%;
}
header h1 a:nth-child(2) img{
    height: 35px;
}
    

    
    
/*************************************/
/************   FOOTER   *************/
/*************************************/
footer {
    clear:both; 
}
footer .contact li a {
    font-size: 2.5vw;
}
footer .social-channels li {
    margin: 0 2vw;
}
    
    
    
}





    
    
    
/******************************************/
/**********  VERSION DESKTOP   ************/
/******************************************/


@media only screen and (min-width: 960px) {
    body{
        background-color: violet;
    }

/***********************************/
/******  barre de recherche   ******/
/***********************************/ 

/* on cache l'icone loupe des version mobiles */
header h1 a:nth-child(2){
    display: none;
}
/* on affiche la version desktop */
header form {
    display: inline-block;
}
#searchthis {
    position: absolute;
    right: 5%;
    top: 8%;
}    
#searchthis input {
    display: inline-block;
    outline:0;
    border:0;
    margin:0;
    vertical-align: top;
}
#searchthis input:nth-child(2) {
    height: 25px;
    width: 25px;
}
/* Champ de saisie */
#searchthis #search {
  background-color: #cccccc;   /* Couleur de fond */
  border-style: solid;   /* Style de la bordure  */
  border-color: #dddddd;   /* Couleur de la bordure  */
  padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
  font-family: Arial;   /* Police du texte */
  font-size: 12px;   /* Taille de la police du texte */
  font-weight: normal;   /* Graisse du texte */
  letter-spacing: 1px;   /* Espacement des caractères */
}
#search-btn{
    background: rgba(0,0,0,0);
    background:url(../img/loupe.png) no-repeat 0 0;
    background-size: 100%;
    padding-bottom: 2%;
    
}  
/* fin de la barre de recherche */
    
header>section {
    width: 90%;
}
header img#logo {
    width: 15%;
    text-align: center;
}   
header>section>ul>li {
    height: 45vw;
    max-height: 500px;
    background: #ccc;
    position: relative;
}
   


/*************************************/
/*********  SECTION GALERIE  *********/
/*************************************/
#wrapper {
    padding: 0 5vw;
}

    
    

    

/*************************************/
/************   FOOTER   *************/
/*************************************/    
footer .contact li a {
    font-size: 1em;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}