/*******************************************/
/*******************************************/
/*******************************************/
/*************    VARIABLES     ************/
/*******************************************/
/*******************************************/
/*******************************************/
$header-bg:purple;
$base-color:red;

/*******************************************/
/*******************************************/
/*******************************************/
/****************    BASE     **************/
/*******************************************/
/*******************************************/
/*******************************************/
html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    height: 100%;
    
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 20px;
}
ul {
    margin: 0;
    padding: 0;
}
a {
    font-weight: lighter;
    text-decoration: none;
    color: inherit;
    }
.site-content {
    padding-top: 66px;
}



/*******************************************/
/*******************************************/
/*******************************************/
/****************    HEADER     ************/
/*******************************************/
/*******************************************/
/*******************************************/
.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 66px;
    
    line-height: 66px;
    color: #FFF;
    
    background-color: $header-bg;
    
    .header__logo {
        font-weight: 400;
        vertical-align: top;
    }
    
    h1 {
        display: inline-block;
        padding: 0;
        margin: 0 0;
        font-size: 1.1em;
    }
    
    li {
        display: inline-block;
        padding: 0 10px;
    }
}

/*******************************************/
/*******************************************/
/*******************************************/
/****************     MENU      ************/
/*******************************************/
/*******************************************/
/*******************************************/
    nav {
        display: inline-block;
        vertical-align: top;
        background-color: pink;
        
        a:hover {
                color: #c6ff00;   
        }
    } 


@media (min-width:640px) {    
    p {
        color: $base-color; 
        box-shadow: 0 0 0 lighten( $base-color, 10% )
        }
  }


/*******************************************/
/*******************************************/
/*******************************************/
/***************   RESPONSIVE   ************/
/*******************************************/
/*******************************************/
/*******************************************/


@import 'object/_responsive.scss';



@import 'object/_header.scss';



    